In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pylab
%matplotlib inline
import seaborn as sns
from bokeh import mpl

#https://joernhees.de/blog/2015/08/26/scipy-hierarchical-clustering-and-dendrogram-tutorial/#Perform-the-Hierarchical-Clustering
from scipy.cluster.hierarchy import dendrogram, linkage
from scipy.cluster.hierarchy import cophenet
from scipy.spatial.distance import *
import pydendroheatmap as pdh

import pickle

#cartodb links
general link
https://jzangh.cartodb.com/viz/79c6a53c-06b8-11e6-824c-0e3ff518bd15/public_map

for embedding
<iframe width="100%" height="520" frameborder="0" src="https://jzangh.cartodb.com/viz/79c6a53c-06b8-11e6-824c-0e3ff518bd15/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

js for apps
https://jzangh.cartodb.com/api/v2/viz/79c6a53c-06b8-11e6-824c-0e3ff518bd15/viz.json

In [4]:
#example with JFK-SFO
#carrier breakdown
airlineBreakdownDict={"AA":1714,"B6":1765,"DL":2275,"UA":1920,"VX":1606}

In [5]:
airlineBreakdownDict["AA"]

1714

In [6]:
#import the data
JFK_SFO_stats=pd.read_csv('/home/vagrant/capstone/2016-03-28_downloads/OTP_detailed/analysis_2016-04-18/JFK_SFO_route_analysis/abridged_JFK-SFO.txt',sep="\t")

In [7]:
JFK_SFO_stats.head()

,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,FlightNum,Origin,Dest,DepDelay,...,Cancelled,CancellationCode,Diverted,AirTime,Distance,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,1,4,2015-01-01,AA,19805,15,JFK,SFO,-5.0,...,0.0,NaN,0.0,388.0,2586.0,0.0,0.0,48.0,0.0,0.0
1,1,2,5,2015-01-02,AA,19805,15,JFK,SFO,-3.0,...,0.0,NaN,0.0,369.0,2586.0,NaN,NaN,NaN,NaN,NaN
2,1,3,6,2015-01-03,AA,19805,15,JFK,SFO,-1.0,...,0.0,NaN,0.0,352.0,2586.0,NaN,NaN,NaN,NaN,NaN
3,1,4,7,2015-01-04,AA,19805,15,JFK,SFO,-5.0,...,0.0,NaN,0.0,375.0,2586.0,NaN,NaN,NaN,NaN,NaN
4,1,5,1,2015-01-05,AA,19805,15,JFK,SFO,-5.0,...,0.0,NaN,0.0,364.0,2586.0,NaN,NaN,NaN,NaN,NaN

In [17]:
#AirlineMarketShare=JFK_SFO_stats[['UniqueCarrier','AirlineID']].groupby(['UniqueCarrier']).aggregate(np.count_nonzero)
AirlineMarketShare

               AirlineID
UniqueCarrier
AA                  1714
B6                  1765
DL                  2275
UA                  1920
VX                  1606

In [14]:
#byDayOfWeek=JFK_SFO_stats.groupby(['DayOfWeek']).aggregate(,'Cancelled','CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircraftDelay']).aggregate(np.count_nonzero)
CancellationbyDayOfWeek=JFK_SFO_stats.groupby(['DayOfWeek']).aggregate({'Cancelled':np.count_nonzero})

#byDayOfWeek

           Cancelled
DayOfWeek
1               27.0
2               27.0
3               11.0
4               20.0
5                8.0
6                5.0
7               16.0